.review-item {
    display: flex;
    border: 1px solid #95a0a7;
    width: 570px;
    margin: 20px auto;
    padding:10px;
    border-radius: 8px;
}
.review-item img{
    width: 91px;
    
}
.review-details p {
    margin: 0px;

}
.review-details-container{
    margin-left: 17px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.delete-container {
    display: flex;
    align-items: center;
}
.btn-delete{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: rgb(235, 87, 87,0.2);
    
}
.btn-delete:hover {
    background-color: rgb(235, 87, 87, 0.5);
}
.delete-icon {
    color: #eb5757;
    font-size: 31px;
    
}